<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <% include layout %>
</head>

<body>
    <div class="container">
        <h1>About Us</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla lacus sed faucibus sodales. Suspendisse
            interdum elit a augue vulputate sodales. Quisque id mattis nibh. Vestibulum nec suscipit dui. Vivamus laoreet
            odio vel massa suscipit hendrerit. Fusce interdum velit euismod justo ultrices imperdiet. Ut mattis justo est,
            a faucibus lacus suscipit congue.</p>
        <ul>
            <li>Vivamus nec scelerisque</li>
            <li>Cras efficitur</li>
            <li>Nam lectus elit</li>
        </ul>
        <p>Etiam aliquam, justo iaculis tempor tempor, risus nisl volutpat augue, ac mollis lorem neque ac tortor. Phasellus
            libero sapien, ornare in risus vel, posuere ornare purus. Duis in molestie sem. Mauris condimentum posuere velit,
            consequat tempus lacus varius nec. Sed non scelerisque eros. Nullam gravida erat eget sodales posuere. Vivamus
            sed justo viverra, dictum sapien id, ultrices lorem. Nulla eleifend eleifend porttitor. Proin dignissim, elit
            quis posuere faucibus, lacus sapien lobortis leo, at pellentesque libero turpis in nunc.</p>
    </div>
</body>

</html>