<link href='https://fonts.googleapis.com/css?family=Anton|Passion+One|PT+Sans+Caption' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="stylesheets/erorr.css">

<body>
    <section id="not-found">
        <div id="title">404 Page Not Found </div>
        <div class="circles">
            <p>404
                <br>
                <small>PAGE NOT FOUND</small>
            </p>
            <span class="circle big"></span>
            <span class="circle med"></span>
            <span class="circle small"></span>
        </div>
    </section>
</body>

<!-- 
    template copyright to
    https://codepen.io/chiaren/pen/ALwnI
 -->